body{
  background-color: #EAF6F6;
}
p{
  color:#800080;
  font-family: oblique;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 30%;
}
h1{
  color:#66BFBF;
  font-size: 596.5%;
  font-family: 'Sacramento',cursive;
  margin-top: 50px;
  font-weight: bold;
}
h2{
  color:#11999E;
}

.middlecontainer{
  background-color: white;

}
.bottomcontainer{
  background-color: white;
}
.para{
  font-size: 2.5rem;
}
